<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Retail Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard/myProfile">My Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="loginType == retailer">
        <a class="nav-link" routerLink="/dashboard/searchDistributor">Search Distributor</a>
      </li>
      <li class="nav-item" *ngIf="loginType == distributor">
        <a class="nav-link" routerLink="/dashboard/searchRetailer">Search Retailer</a>
      </li>
      <li class="nav-item" *ngIf="loginType == distributor">
        <a class="nav-link" routerLink="/dashboard/viewMyCustomers">My Customers</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>