<div class="container">
<br/>
    <div class="jumbotron">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">{{retailer.registered_name}}</th>
                </tr>
                <tr>
                    <th scope="col">Contact Number</th>
                    <th>{{retailer.contact_number}}</th>
                </tr>
                <tr>
                    <th scope="col">Aadhar Number</th>
                    <th scope="col">{{retailer.aadhar}}</th>
                </tr>
                <tr>
                    <th scope="col">PAN Number</th>
                    <th scope="col">{{retailer.pan}}</th>
                </tr>
                <tr>
                    <th scope="col">GSTN</th>
                    <th scope="col">{{retailer.gstn}}</th>
                </tr>
                <tr>
                    <th scope="col">Address</th>
                    <th scope="col">{{retailer.address}}</th>
                </tr>
                <tr>
                    <th scope="col">Established</th>
                    <th scope="col">{{retailer.established_year}}</th>
                </tr>
                <tr>
                    <th scope="col">Average Credit Rating</th>
                    <th scope="col">{{crA}}</th>
                </tr>
                <tr>
                    <th scope="col">Credit Rating By You</th>
                    <th scope="col">{{crI}}</th>
                </tr>
            </thead>
        </table>
<hr>
        Rate your Customer:
        <form (submit)="updateCreditRating()">
            <input type="text" class="form-control mb-4" required [(ngModel)]="duration" name="duration"
                placeholder="Enter No. of Days for Previous Payment Cycle" />
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
    </div>


</div>