<br/>
<div class="container">
    <input type="text" class="form-control" placeholder="Search Retailers by Name or Address" [(ngModel)]="query" id="listSearch">
    <div class="panel panel-default col-xs-12 col-sm-11" *ngFor="let retailer of retailers | LockFilter: query">


<br/>
        <div class="card">
            <div class="card-header">
                <div class="text-left" >Retailer Name: {{retailer.registered_name}}</div>
                <div *ngIf="retailer.is_customer == true"><h5>My Customer</h5></div>
            </div>
            
            <div class="card-body">
                <h6 class="card-text">Address: {{retailer.address}}</h6>
                <h6 class="card-text">Contact: {{retailer.contact_number}}</h6>
                <h6 class="card-text">GSTN: {{retailer.gstn}}</h6>
                <h6 class="card-text">Established in: {{retailer.established_year}}</h6>
                <h6 class="card-text">Credit Rating: {{retailer.credit_rating_average}}</h6>
                <br/>
                <a target="_blank" [routerLink]="['/viewSearchRetailerProfile', retailer.shopkeeper_id]"  class="btn btn-primary">Visit Profile</a>
            </div>
        </div>


    </div>
</div>