<form (submit)="login()">
    
    <h2>Welcome Back :)</h2>
    <small>To keep connected with us please login with your personal information by username  and password.</small>
    <br/><br/><br/>
    <input type="text" class="form-control mb-4" required [(ngModel)]="username" name="username" placeholder="Your Username *"
        value="" />

    <input type="password" class="form-control mb-4" required [(ngModel)]="password" name="password"
        placeholder="Your Password *" value="" />

        <label>Login As:&nbsp;&nbsp;</label>

        <input type="radio" value="distributor" name="loginType" [(ngModel)]="loginType"> Distributor
        <input type="radio" value="retailer" name="loginType" [(ngModel)]="loginType"> Retailer
<br/><br/>
    
    <div class="row">
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary btn-block" value="Login" />
        </div>
        <div class="col-md-6">
            <a class="btn btn-info btn-block" routerLink="/signup">Register</a>
        </div>
    </div>


</form>
<!-- Default form login -->