<br/>
<div class="container">
    <div class="jumbotron">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Shopkeeper Name</th>
                    <th scope="col">{{distributor.registered_name}}</th>
                </tr>
                <tr>
                    <th scope="col">Contact Number</th>
                    <th>{{distributor.contact_number}}</th>
                </tr>
                <tr>
                    <th scope="col">Aadhar Number</th>
                    <th scope="col">{{distributor.aadhar}}</th>
                </tr>
                <tr>
                    <th scope="col">PAN Number</th>
                    <th scope="col">{{distributor.pan}}</th>
                </tr>
                <tr>
                    <th scope="col">GSTN</th>
                    <th scope="col">{{distributor.gstn}}</th>
                </tr>
                <tr>
                    <th scope="col">Address</th>
                    <th scope="col">{{distributor.address}}</th>
                </tr>
                <tr>
                    <th scope="col">Established</th>
                    <th scope="col">{{distributor.established_year}}</th>
                </tr>
            </thead>
        </table>
        <div class="card">
            <div class="card-header">Description</div>
            <div class="card-body">
                <p class="card-text">{{distributor.description}}</p>
            </div>
        </div>
    </div>
    
</div>
    