<br/>
<div class="container">
    <input type="text" class="form-control" placeholder="Search Distributors by Name or Address" [(ngModel)]="query" id="listSearch">
    <div class="panel panel-default col-xs-12 col-sm-11" *ngFor="let distributor of distributors | LockFilter: query">


<br/>
        <div class="card">
            <div class="card-header">Distributor Name: {{distributor.registered_name}}</div>
            <div class="card-body">
                <h6 class="card-text">Address: {{distributor.address}}</h6>
                <h6 class="card-text">Contact: {{distributor.contact_number}}</h6>
                <h6 class="card-text">GSTN: {{distributor.gstn}}</h6>
                <h6 class="card-text">Established in: {{distributor.established_year}}</h6>
                <br/>
                <a target="_blank" [routerLink]="['/viewSearchDistributorProfile', distributor.distributor_id]"  class="btn btn-primary">Visit Profile</a>
            </div>
        </div>


    </div>
</div>