<div class="container">
    <div class="panel panel-default col-xs-12 col-sm-11" *ngFor="let retailer of retailers">
        <div *ngIf="retailer.is_customer == true">
            <br />
            <div class="card">
                <div class="card-header">Retailer Name: {{retailer.registered_name}}</div>
                <div class="card-body">
                    <h6 class="card-text">Address: {{retailer.address}}</h6>
                    <h6 class="card-text">Contact: {{retailer.contact_number}}</h6>
                    <h6 class="card-text">GSTN: {{retailer.gstn}}</h6>
                    <h6 class="card-text">Established in: {{retailer.established_year}}</h6>
                    <br />
                    <a target="_blank" [routerLink]="['/viewProfile', retailer.shopkeeper_id, retailer.credit_rating_average, retailer.credit_rating_individual]" class="btn btn-primary">Visit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>