<div class="container">
    <h2>Delve.</h2>
    <div class="row">
        <div class="col-md-5">
            <br />
            <form (submit)="signup()">

                <h2>Welcome :)</h2>
                <br /><br />
                <input type="text" [(ngModel)]="username" name="username" class="form-control mb-4"
                    placeholder="Username">

                <input type="password" [(ngModel)]="password" name="password" class="form-control mb-4"
                    placeholder="Password">

                <input type="email" [(ngModel)]="email" name="email" class="form-control mb-4" placeholder="E-mail">

                <input type="text" [(ngModel)]="established_year" name="established_year" class="form-control mb-4"
                    placeholder="established_year">
                <input type="text" [(ngModel)]="registered_name" name="registered_name" class="form-control mb-4"
                    placeholder="registered_name">
                <input type="text" [(ngModel)]="contact_number" name="contact_number" class="form-control mb-4"
                    placeholder="contact_number">
                <input type="text" [(ngModel)]="aadhar" name="aadhar" class="form-control mb-4" placeholder="aadhar">
                <input type="text" [(ngModel)]="pan" name="pan" class="form-control mb-4" placeholder="pan">
                <input type="text" [(ngModel)]="gstn" name="gstn" class="form-control mb-4" placeholder="gstn">
                <input type="text" [(ngModel)]="address" name="address" class="form-control mb-4" placeholder="address">
                <input type="radio" value="distributor" name="signupType" [(ngModel)]="signupType"> Distributor
                <input type="radio" value="retailer" name="signupType" [(ngModel)]="signupType"> Retailer
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary btn-block" value="Sign Up" />
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-info btn-block" routerLink="">Login</a>
                    </div>
                </div>


            </form>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <br /><br /><br />
            <img src="assets/signup.png" class="img-fluid" alt="Responsive image">
        </div>

    </div>







</div>