<div *ngIf="loginType == distributor_t" class="container">
    <br />
    <div class="jumbotron">
        <h4>Name: {{distributor?.registered_name}}</h4>
        <h4>Address: {{distributor?.address}}</h4>
        <h4>Phone No: {{distributor?.contact_number}}</h4>
        <h4>Established In: {{distributor?.established_year}}</h4>
        <h4>Aadhar No: {{distributor?.aadhar}}</h4>
        <h4>Pan No: {{distributor?.pan}}</h4>
        <h4>GSTN: {{distributor?.gstn}}</h4>
        <div class="card">
            <div class="card-header">Description</div>
            <div class="card-body">
                <p class="card-text">{{distributor?.description}}</p>
            </div>
        </div>
        <div class="container">
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Price/Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngFor="let product of distributor?.products">
                        <tr>
                            <td>{{product?.brand}}</td>
                            <td>{{product?.category}}</td>
                            <td>{{product?.price_per_unit}}</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="loginType == retailer_t" class="container">
    <br />
    <div class="jumbotron">
        <h4>Name: {{retailer?.registered_name}}</h4>
        <h4>Address: {{retailer?.address}}</h4>
        <h4>Phone No: {{retailer?.contact_number}}</h4>
        <h4>Established In: {{retailer?.established_year}}</h4>
        <h4>Aadhar No: {{retailer?.aadhar}}</h4>
        <h4>Pan No: {{retailer?.pan}}</h4>
        <h4>GSTN: {{retailer?.gstn}}</h4>
        <div class="card">
            <div class="card-header">Description</div>
            <div class="card-body">
                <p class="card-text">{{retailer?.description}}</p>
            </div>
        </div>
    </div>
</div>