<div class="container">
    <h2>Delve.</h2>
    <div class="row">
        <div class="col-md-8">
            <br/>
            <img src="assets/loginscreen.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4">
            <br/>
            <app-login></app-login>
        </div>
    </div>
</div>